@import url("main.css");

:root {
    --side-bar-max-width: 14rem;
    --side-bar__header-height: 4rem;
    --side-bar__footer-height: fit-content;
    --primary-purple: #8646B7;
    --cards-default-gap: 2rem;
    --default-border-radius: 10px;
    --side-bar-min-width: 6.25rem;
    --dark-purple: #160F28;
}

.side-bar {
    /* POSITIONS */
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    /* PROPORTIONS*/
    height: 100dvh;
    width: var(--side-bar-max-width);
    padding: 2rem 1rem 1rem 1rem;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.side-bar__mai-icon{
    text-align: center;
}

.side-bar__right-side{
    aspect-ratio: 1/1;
    width: 2rem;
    background-color: slategray;
    border-radius: 50px;
}

.side-bar__header {
    /* POSITIONS */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    /* PROPORTIONS */
    height: var(--side-bar__header-height);
}

.side-bar__nav {
    /* POSITIONS */
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 0 1rem;
    /* PROPORTIONS */
    height: 100%;
}

.side-bar__nav > a {
    /* POSITIONS */
    display: flex;
    column-gap: 0.8rem;
    align-items: center;
    text-decoration: none;
    /* PROPORTIONS */
    padding: 0.2rem 0.5rem;
    /* STYLES */
    border-radius: var(--default-border-radius);

}

.side-bar__nav > a > span{
    color: black;
    font-weight: 500;
}

.side-bar__nav a > svg {
    aspect-ratio: 1/1;
    width: 1.5rem;
}

.link_active > svg {
    /* STYLES */
    fill: white ;
}

.side-bar__nav a:hover > svg {
    /* STYLES */
    fill: white;
}

.side-bar__nav a:active > svg {
    /* STYLES */
    fill: white;
}

.side-bar__nav a:hover > span {
    /* STYLES */
    color: white;
}

.side-bar__nav a:active > san {
    /* STYLES */
    color: white;
}

.icon {
    /* STYLES */
    fill: #000000;
    aspect-ratio: 1/1;
    height: 2rem;
}

.link_active {
    /* POSITIONS */
    /* PROPORTIONS */
    /* STYLES */
    color: white;
    background-color: var(--dark-purple);
}

.side-bar__nav > a:hover {
    /* POSITIONS */
    /* PROPORTIONS */
    /* STYLES */
    color: white;
    background-color: var(--dark-purple);
}

.side-bar__nav > a:active {
    /* POSITIONS */
    /* PROPORTIONS */
    /* STYLES */
    scale: 0.9;
}

.side-bar__footer {
    /* POSITIONS */
    position: relative;
    /* PROPORTIONS */
    width: 100%;
    text-align: center;
    height: var(--side-bar__footer-height);
}

.side-bar__footer > .icon {
    /* STYLES */
    font-size: 1rem;
    font-weight: 500;
    color: #C7C8CC;
    cursor: default;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.main-content-view {
    /* POSITIONS */
    margin-left: var(--side-bar-max-width);
    padding: 2rem 5rem 0 2rem;
    height: 100%;
}

.main__primary-content {
    /*POSITIONS*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem 2rem;
    height: 1.5rem;
    border-radius: var(--default-border-border-radius);
}

.primary-content__name-section {
    /* STYLES */
    flex-grow: 1;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.primary-content__cargo {
    /* STYLES */
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.7);
}

.main__secondary-content {
    /*POSITIONS*/
    display: flex;
    flex-direction: column;
    gap: var(--cards-default-gap);
    height: 50%;
}

.secondary-content__info {
    /* POSITIONS */
    flex-grow: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.secondary-content__side-info {
    /* POSITIONS */
    flex-grow: 1;
    text-align: center;
}

.secondary-content__info__styles{
    border-radius: 20px;
    padding: 0.5rem;
}
.primary-content__notification{
    flex-grow: 1;
    display: flex;
    justify-content: end;
    column-gap: 1rem;
}

.primary-content__notification > span{
    background-color: slategray;
    border-radius: 0.2rem;
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondary-content__info{

}

.secondary-content__side-info{
}